ul.num-list {
  position: absolute;
  right: -5px;
  bottom: 5px;
}

ul.num-list li {
  float: left;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: coral;
  text-align: center;
  line-height: 20px;
  opacity: 0.7;

}

ul.num-list li.current {
  opacity: 1;
}